.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #435769;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    font-weight: bold;
    block-size: border-box;
}